<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Card component</title>
  <link rel="stylesheet" href="./style.css">

  <style>
    .wrapper {
      width: 600px;
      margin: 100px auto;
    }
  </style>
</head>

<body>

  <div id="root" class="wrapper"></div>

  <script type="module">

class OnLineStorePage {
  constructor () {
    this.components = {};

    this.initComponents();
    this.render();
    this.renderComponents();
  }

  getTemplate () {
    return `
      <div>
        <div data-element="card"></div>
        <div data-element="pagination"></div>
      </div>
    `;
  }

  initComponents () {
    const card = new Card(product);
    const pagination = new Pagination({
    //totalElements: 35,
    activePageIndex: 2,
    //pageSize: 8,
    });

    this.components.card = card;
    this.components.pagination = pagination;
  }


  renderComponents () {

    const cardContainer = this.element.querySelector('[data-element="card"]');
    const paginationContainer = this.element.querySelector('[data-element="pagination"]');


    cardContainer.append(this.components.card.componentElement);
    paginationContainer.append(this.components.pagination.element);
}

  render () {

    const wrapper = document.createElement('div');
    wrapper.innerHTML = this.getTemplate();
    this.element = wrapper.firstElementChild;

  }
}

const page = new OnLineStorePage();
const someElement = document.querySelector('#root');
someElement.append(page.element);

const product = {
      "id": "76w0hz7015kkr9kjkav",
      "images": [
        "https://content2.rozetka.com.ua/goods/images/big_tile/163399632.jpg",
        "https://content.rozetka.com.ua/goods/images/big_tile/163399633.jpg"
      ],
      "title": "Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black",
      "rating": 2.89,
      "price": 15999,
      "category": "laptops",
      "brand": "acer"
    };

const monitor = {
    "id": "w73oaydowenkr9kjkav",
    "images": [
      "https://content1.rozetka.com.ua/goods/images/big_tile/178050370.jpg"
    ],
    "title": "Монитор 23.8\" BenQ GW2475H (9H.LFELA.TBE)",
    "rating": 5,
    "price": 3800,
    "category": "monitors",
    "brand": "benq"
  };

class Card {
  constructor (someProduct) {
    this.state = someProduct;
    this.myRender();
  }

getTemplate () {
  return  `
          <div class="block">
            <div>
              <img class="image" src="${this.state.images[0]}" alt="Note">
            </div>
            <div class="price">
              <p class="raiting">
                ${this.state.rating} <img class="star" src="Star.png">
              </p>
              <p class="cost">
                ${this.state.price}
              </p>
            </div>
              <p class="text">
                ${this.state.title}
              </p>
              <p> ${this.state.category}</p>
            <div>
              <button class="buttons">
                <a href="#">ADD TO CART</a>
              </button>
            </div>
          </div>
    `;
}


update(data = {}) {
  this.state = data;
  this.componentElement.innerHTML = this.getTemplate();

}

  myRender () {
  const element = document.createElement('div');
  element.innerHTML = this.getTemplate();

   this.componentElement = element;
}

}

const obj = new Component(product);

const myRootElement = document.querySelector('#root');

myRootElement.append(obj.componentElement);

//obj.update(monitor);

class Pagination {
  constructor ({ activePageIndex = 0 } = {}) {
    this.defaultPagesSize = 12;
    this.activePageIndex = activePageIndex;
    this.render();
    this.addEventListeners();
  }

  getTemplate () {
    return `
    <div class="wrapper2">
      <nav class="btn-prev" data-element="nav-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        <a href="#"><i class="bi bi-chevron-left"></i></a>
      </nav>
      ${this.getPages()}
      <nav class="btn-next" data-element="nav-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <a href="#"><i class="bi bi-chevron-right"></i></a>
      </nav>
    </div>
    `;
  }

  getPages() {
    return `
      <div class="wrapper2" data-element="pagination">
        ${new Array(this.defaultPagesSize).fill(1).map((item, index) => {
          return this.getPageTemplate(index);
        }).join(' ')}
      </div>
    `;
  }

  getPageTemplate (pageIndex = 0) {
    const isActive = pageIndex === this.activePageIndex ? 'active' : '';
    return `<div class="btn ${isActive}" data-page-index="${pageIndex}">${pageIndex + 1}</div>`;
  }


  setPage(pageIndex = 0) {
    if (pageIndex === this.activePageIndex) return;
    if (pageIndex > this.defaultPagesSize - 1 || pageIndex < 0) return;

    const activePage = this.element.querySelector('.btn.active');
    if (activePage) {
      activePage.classList.remove('active');
    }
    const nextActivePage = this.element.querySelector(`[data-page-index="${pageIndex}"]`);

    if (nextActivePage) {
      nextActivePage.classList.add('active');
    }
    this.activePageIndex = pageIndex;
  }

  nextPage() {
    const nextPageIndex = this.activePageIndex + 1;


    this.setPage(nextPageIndex);

  }


  prevPage() {
    const prevPageIndex = this.activePageIndex - 1;

    this.setPage(prevPageIndex);

  }



  render () {
    const wrapper = document.createElement('div');
    wrapper.innerHTML = this.getTemplate();
    this.element = wrapper.firstElementChild;
  }

  addEventListeners () {
    const prevPageBtn = this.element.querySelector('[data-element="nav-prev"]');
    const nextPageBtn = this.element.querySelector('[data-element="nav-next"]');
    const pageList = this.element.querySelector('[data-element="pagination"]');

    prevPageBtn.addEventListener('click', () => {
      this.prevPage();
    });

    nextPageBtn.addEventListener('click', () => {
      this.nextPage();
    });

    pageList.addEventListener('click', event => {
      const pageItem = event.target.closest('.btn');

      if (!pageItem) return;

      const { pageIndex } = pageItem.dataset;

      this.setPage(parseInt(pageIndex, 10));
    });

  }
}

const pagination = new Pagination({
  activePageIndex: 3
});
const element = document.querySelector('.wrapper');
element.append(pagination.element);


  </script>
</body>
</html>
